*{
    border:-5px solid #f00;
    background:#23a188;
}
body {
    font-family: 'Segoe UI', sans-serif;
    font-size:32pt;
    font-weight:100;
    width:640px;
    background:#fff;
}
body > div{
    margin:5px 0px;
    width:100%;
    text-align:center;
}

.tabbuttons {
    background:#f00;
	list-style-type: none;
    padding-left:0px;
    width: 90%;
    margin: 5px auto;
    overflow: hidden;
    text-align: center;
}
.tabbuttons li {
    background: #ccc;
    width: 50%;   
    margin: 0px;
    display: inline-block;
    text-align: center;
}
.tabbuttons li.selected {
    background: #eee;
}

.tabcontents{
    background:#10c4e5;
    padding-left:0px;
	list-style-type: none;
    margin:0px;
}
.tabcontents li{
    background:#eee;
    margin:0px;
}
.tabcontents li.hidden {
    display:none;
}

.inputtable {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #ccc;
}
.inputtable th {
    text-align: center;
    font-size:18pt;
    vertical-align: top;
    color: #444;
    background-color: #eee;
    border: 1px solid #ccc;
}
.inputtable td {
    background-color: #fafafa;
    border: 1px solid #ccc;
    text-align:center;
}

.numinput {
    margin:2px auto;
    padding:2px;
    width:150px;
    font-size: 32pt;
    font-weight:200;
    text-align: right;
}

.numoutput{
    margin:2px auto;
    padding:2px;
    width:150px;
    font-size: 32pt;
    font-weight:100;
    text-align: right;

}

.execute {
    width:100%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}
.execute button {
    position: relative;
	background-color: #1abc9c;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 0 #23a188;
	
    border-radius: 25%;
    width:60%;
    height:80%;
    margin:5px auto;
    font-size:64pt;
}
.execute button:hover{
    background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.execute button:active{
    top: 3px;
	box-shadow: none;
}